name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x
      - name: npm install
        run: npm ci
      - name: Build
        run: npm run build --prod
      - name: Test
        run: npm test
        env:
          CI: true
